.computer-screen {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    top: -1rem;
    width: 16.9rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem auto;
    background-color: rgb(18, 43, 18);
    color: rgb(0, 255, 13);
    font-family: monospace;
    font-size: 0.9rem;
}

/* Personalización de la barra de desplazamiento */
.computer-screen::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.computer-screen::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* Color de fondo de la pista */
    border-radius: 4px; /* Bordes redondeados */
}

.computer-screen::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 0, 0.5); /* Color del pulgar (scrollbar thumb) */
    border-radius: 4px; /* Bordes redondeados */
}

.computer-screen::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 0, 0.8); /* Color del pulgar al pasar el mouse */
}

.computer-screen form {
    position: relative;
    z-index: 10; /* Un número mayor que el pseudo-elemento */
}

.computer-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 255, 0, 0.3);
    animation: scanline 8s linear infinite;
    pointer-events: none; /* No bloquea la interacción con otros elementos */
}


@keyframes scanline {
    0% { top: 0; }
    100% { top: 100%; }
}