.canvas-container {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../../../assets/draw.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
