.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40rem;
    margin: 1.8rem auto 0 auto;
}

.info-container > h2 {
    margin-top: 1.5rem;
}

.info-title {
    text-align: left;
    color: white;
    margin-bottom: 1rem;
    position: relative;
    margin-left: 1rem;
}

.info-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 90%;
    height: 0.3rem;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='10' viewBox='0 0 100 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5 Q 10 0, 20 5 T 40 5 T 60 5 T 80 5 T 100 5' stroke='%2352b33f' stroke-width='8' fill='transparent'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

.info-text {
    color: white;
    margin: 0 1rem;
}

.info-indent {
    margin-right: 1rem;
}

.info-button {
    margin: 1rem;
    margin-left: auto; 
    margin-right: auto;
    width: 8rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: rgb(82, 179, 63);
    border-radius: 5px;
    cursor: pointer;
}

.info-button a {
    text-decoration: none;
    color: #1A1A1A;
}

.info-spiral {
    position: relative;
    top: 8rem;
    left: calc(50% - 9rem);
    width: 18rem;
    animation: spin 30s linear infinite, glow 3s ease-in-out infinite alternate;
    transform-origin: 45% 47%;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
    }
    to {
        filter: drop-shadow(0 0 15px rgba(100, 255, 108, 0.3))
                drop-shadow(0 0 20px rgba(126, 255, 100, 0.4));
    }
}

.logos-container {
    position: relative;
    top: -9rem;
    left: calc(50% - 9rem);
    width: 18rem;
    height: 18rem;
    animation: spin 20s linear infinite;
    transform-origin: 50% 50%;
}

.logo {
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* Posicionamiento de los logos */
/*REACT*/
.logo:nth-child(1) { top: 10%; left: 50%; transform: translateX(-50%); width: 4rem; height: 4rem; animation: spin 15s linear infinite;}
/*REDUX*/
.logo:nth-child(2) { top: 15%; left: 85%; transform: translateX(-50%); animation: spin 5s linear infinite;}
/*DOCKER*/
.logo:nth-child(3) { top: 50%; left: 100%; transform: translateX(-50%); width: 4rem; height: 4rem; animation: spin 30s linear infinite;}
/*GIT*/
.logo:nth-child(4) { top: 70%; left: 75%; transform: translateX(-50%); width: 4rem; height: 4rem; animation: spin 10s linear infinite;}
/*JEST*/
.logo:nth-child(5) { top: 105%; left: 50%; transform: translateX(-50%); animation: spin 10s linear infinite;}
/*NEXT*/
.logo:nth-child(6) { top: 60%; left: 15%; transform: translateX(-50%); width: 4rem; height: 4rem; animation: spin 15s linear infinite;} 
/*NODE*/
.logo:nth-child(7) { top: 35%; left: 0; transform: translateX(-50%); width: 4rem; height: 4rem; animation: spin 15s linear infinite;}
/*TAILWIND*/
.logo:nth-child(8) { top: 15%; left: 15%; transform: translateX(-50%); animation: spin 10s linear infinite;}
/*TANSTACK*/
.logo:nth-child(9) { top: 60%; left: -10%; transform: translateX(-50%);  animation: spin 5s linear infinite;}
/* TS */
.logo:nth-child(10) { top: 45%; left: 55%; transform: translateX(-50%); width: 4rem; height: 4rem; animation: spin 30s linear infinite;}
/*ZUSTAND*/
.logo:nth-child(11) { top: 35%; left: 100%; transform: translateX(-50%);  animation: spin 10s linear infinite;}


.info-tecnologia {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: -2rem;
    opacity: 0;
    transition: opacity 1s ease; 
    position: relative;
}

.info-tecnologia.visible {
    opacity: 1; 
}

.info-tecnologia.invisible {
    opacity: 0; 
    transition: opacity 1s ease; 
}

.info-tecnologia::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4%; 
    width: 0%; 
    height: 0.3rem; 
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='10' viewBox='0 0 100 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5 Q 10 0, 20 5 T 40 5 T 60 5 T 80 5 T 100 5' stroke='%2352b33f' stroke-width='8' fill='transparent'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: auto 100%;
    transition: width 0.3s ease, left 0.3s ease;
}

.info-tecnologia.visible::before {
    width: 80%; 
}