nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    position: relative;
    z-index: 1;
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(26, 26, 26, 0.5);
    height: 3rem;

}

.logo-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
    z-index: 1;
    margin-right: 4rem;
}

.logo-container h1 {
    font-size: 1.2rem;
}

.logo-container img {
    width: 31px;
    height: 23px;
}

.github-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.github-container img {
    width: 1.5rem;
}

.nav-toggler {
    display: none;
    margin: 1rem;
    position: relative;
    z-index: 1;
}

.nav-toggler div {
    width: 2rem;
    height: 0.1rem;
    margin: 0.4rem;
    background: rgb(204, 204, 204);
    transition: 0.3s ease-in;
}
  
@media screen and (max-width: 800px) {
    nav {
        justify-content: space-between;
    }
    .nav-toggler {
        display: block;
        cursor: pointer;
    }
    .nav-list {
        position: fixed;
        z-index: 2;
        top: 3rem;
        right: 0;
        height: 30rem;
        width: 50vw;
        /*background: rgb(24, 167, 112);*/
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.1s ease-in;
    }
}
/* Active Class */
.nav-active {
    transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}