.presentation-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40rem;
    margin: 1.8rem auto 0 auto;
}

.presentation-profile {
    color: white;
}

.presentation-profile h2 {
    font-size: 2rem;
}

.presentation-img img {
    width: 6rem;
    border-radius: 100%;
    margin: 1rem;
    border: 2px solid white;
}

@media screen and (max-width: 800px) {
    .presentation-container {
        flex-direction: column-reverse;
        width: 25rem;
    }
    .presentation-img img {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 400px) {
    .presentation-container {
        flex-direction: column-reverse;
        width: 15rem;
    }
    .presentation-img img {
        margin-top: 0rem;
    }
}
